<div class="container bg-body-tertiary">
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
    <h1 class="text-center">Cadastre um Livro</h1><br>
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="https://dw9to29mmj727.cloudfront.net/promo/2016/5338-SeriesHeaders_Tier01_Punpun_2000x800v2.jpg" class="d-block w-100" alt="Boa noite punpun">
        <div class="carousel-caption d-none d-md-block">
            <h5>Boa Noite Punpun</h5>
            <p>Punpun Onodera é um garoto normal, que vive feliz com sua família. Um dia, Aiko Tanaka é transferida para a sua escola. Foi paixão à primeira vista!!</p>
        </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="https://i0.wp.com/blogbbm.com/wp-content/uploads/2022/02/Boa-Noite-Punpun.jpg?fit=1200%2C451&ssl=1" class="d-block w-110" alt="A menina do outro lado">
        <div class="carousel-caption d-none d-md-block">
            <h5>Boa Noite Punpun</h5>
            <p>Boa Noite Punpun é um slice of life que trata de temas delicados como solidão, relações familiares conturbadas e depressão.</p>
        </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Proximo</span>
    </button>
    </div><br><br>

    <div class="row">
        <div class="col-sm-4 mb-3 mb-sm-0">
             <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vantagens de ler</h5><br>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Vantagens que o habito de leitura te oferece</h6>
                    <p class="card-text">Ler estimula o raciocínio, ativa o cérebro, aumenta a imaginação, melhora o vocabulário, desenvolve o pensamento crítico, combate o estresse, dá um gás motivacional, amplia criatividade, estimula a capacidade de concentração e o leitor transforma a sua escrita.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 ">
             <div class="card">
                <div class="card-body">
                    <h5 class="card-title">É melhor ler livro físico ou digital?</h5><br>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Afinal, é melhor ler um livro digital ou um livro físico? </h6>
                    <p class="card-text">A verdade é que não existe uma resposta certa. Os diferentes formatos de livros atendem a diferentes objetivos, e é preciso ter em mente que o melhor livro para você pode não ser o melhor livro para outras pessoas.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 ">
             <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cadastre um livro</h5><br>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Colabore com outros leitores</h6>
                    <p class="card-text">Cadastre seus livros favoritos para que outros leitores possam apreciar uma boa leitura.</p>
                </div>
            </div>
        </div>
    </div><br><br><br>
</div>