<div class="container text-center bg-body-tertiary">
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col bg-white">
            &nbsp;
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col bg-white">
            <p class="text-start fs-5">Cadastre Um produto</p>
            <p class="text-start fs-6" style="color: #971919;">*Preferencia por livros</p>
            <p class="text-start fs-7">Sistema para cadastro de produtos.</p>
            <p>
            <form class="row g-3" action="/cadastrar" method="POST">
                <div class="mb-3 text-start">
                    <label class="form-label">Produto:</label>
                    <input type="name" name="produto" class="form-control" id="produto">
                </div>
                <div class="mb-3 text-start">
                    <label class="form-label">Marca:</label>
                    <input type="text" name="marca" class="form-control" id="marca">
                </div>
                <div class="mb-3 text-start">
                    <label class="form-label">Modelo:</label>
                    <input type="text" name="modelo" class="form-control" id="modelo">
                </div>
                <div class="mb-3 text-start">
                    <button type="submit" class="btn btn-dark">Cadastrar</button>
                </div>
            </form>
            </p>
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
</div>
</html>